<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<title>%%TITLE%% | Moobile %%VERSION%%</title>

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">

	<script src="../js/libs/modernizr-2.5.3.min.js"></script>
	<script src="../js/libs/prettify.js"></script>
	<script src="../js/libs/mootools-core-1.4.5.min.js"></script>
	<script src="../js/libs/mootools-more-1.4.0.1.min.js"></script>
	<script src="../js/libs/moobile-simulator.js"></script>
	<script src="../js/plugins.js"></script>
	<script src="../js/script.js"></script>
	<script type="text/javascript">
		Moobile.Simulator.setResourcePath('../assets/shared/resources');
	</script>

</head>
<body>

	<div id="sidebar" class="sidebar">%%SIDEBAR%%</div>
	<div id="content" class="content full">%%CONTENT%%</div>

	<script type="text/javascript">
		if (document.location.protocol !== 'file:') {
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30887977-1']);
			_gaq.push(['_setDomainName', 'moobilejs.com']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		}
	</script>

</body>
</html>