/* Reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

iframe {
	border: none;
}

.clear {
	clear: both;
}

/* Fonts
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'Museo';
    src: url('museo500-regular-webfont.eot');
    src: url('museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo500-regular-webfont.woff') format('woff'),
         url('museo500-regular-webfont.ttf') format('truetype'),
         url('museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Body
-----------------------------------------------------------------------------*/

body {
	color: #505153;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans;
	font-weight: 300;
	font-size: 14px;
	padding: 40px;
	padding-top: 60px;
	padding-bottom: 60px;
}

/* Styles
-----------------------------------------------------------------------------*/

/* Any Links */

a {
	color: #3b8bba;
	text-decoration: none;
}

/* Any Paragraph */

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 125%;
	margin-bottom: 10px;
}

p code {
	background: #f7f8f9;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #383838;
	font-family: Monaco, Monospace;
	font-style: normal;
	font-size: 85%;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* Class Name */

h1 {
	color: #383838;
	font-family: Museo, Georgia, Serif;
	font-weight: 400;
	font-size: 30px;
}

h1 + h5 {
	margin-top: 20px;
}

h1 + p {
	margin-top: 10px;
}

/* Sections */

h2 {
	border-top: 1px solid #dddddd;
	color: #0176ba;
	font-family: Museo, Georgia, Serif;
	font-weight: 400;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: -40px;
	margin-right: -40px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

/* Members, Methods, Events */

h3 {
	color: #393939;
	font-family: Museo, Georgia, Serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 20px;
}

/* Parameters, Return, Examples */

h4 {
	color: #383838;
	font-family: Museo, Georgia, Serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 10px;
}

p + h4 {
	margin-top: 20px;
}

h4 + pre {
	background: #f9f9f9;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #383838;
	font-family: Monaco, Monospace;
	font-style: normal;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 15px;
}

h4 + pre code {
	font-family: Monaco, Monospace;
	font-size: 12px;
	line-height: 125%;
}

h4 + table {
	margin-top: 0px;
	margin-bottom: 20px;
	width: 100%;
}

h4 + table th {
	font-size: 13px;
	border: 1px solid #dddddd;
	padding: 10px;
	text-align: left;
}

h4 + table td {
	border: 1px solid #dddddd;
	padding: 10px;
}

h4 + table td:first-child {
	white-space: pre;
}

h4 + table td:nth-child(3),
h4 + table td:nth-child(4) {
/*	width: 99%;*/
}

h4 + table td:nth-child(1),
h4 + table td:nth-child(2) {
	width: 1%;
}

h4 + table tbody tr:nth-child(odd) {
	background: #f9f9f9;
}

h4 + table code {
	background: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #383838;
	font-family: Monaco, Monospace;
	font-style: normal;
	font-size: 12px;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h4 + table em {
	font-size: 75%;
}

h4 + ul li {
	list-style: none;
	list-style-position: outside;
	margin-left: 10px;
}

h4 + ul li em {
	background: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #383838;
	font-family: Monaco, Monospace;
	font-style: normal;
	font-size: 75%;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* Extends, Implements */

h5 {
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 400;
	font-size: 14px;
}

h5 code {
	background: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #383838;
	font-family: Monaco, Monospace;
	font-style: normal;
	font-size: 12px;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h5 em {
		background: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #383838;
	font-family: Monaco, Monospace;
	font-style: normal;
	font-size: 75%;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h5 + p {
	font-size: 18px;
	margin-top: 30px;
}

/* Separators */

hr {
	border-style: dashed;
	border-color: #dddddd;
	margin: 0px;
	margin-top: 40px;
	margin-bottom: 30px;
}

p + hr {
	margin-top: 30px;
}

ul + hr {
	margin-top: 30px;
}

/* Geshi */
.kw1 {
	color: #1b609a;
}
.kw2 {
	color: #9a6f1b;
}
.me1 {
	color: #666;
}
.kw3, .re0, .sc1 {
	color: #784e0c;
}
.br0 {
	color: #444;
}
.st0 {
	color: #489a1b;
}
.co1, .coMULTI {
	color: #888;
}
.nu0 {
	color: #70483d;
}